<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song Selection System</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1>K Song</h1>

    <!-- 歌曲队列 -->
    <h2>SINGING QUEUE</h2>
    <ul id="songQueue">
        <!-- 队列会动态加载 -->
    </ul>

    <!-- 所有歌曲 -->
    <h2>ALL SONGS</h2>
    <ul id="allSongs">
        <!-- 歌曲列表会动态加载 -->
    </ul>

    <script src="/static/script.js"></script>
</body>

</html>